erlang_version=19.0
elixir_version=1.3.3
always_rebuild=false
config_vars_to_export=(
  ADD_TO_SLACK_REDIRECT_URI
  APPSIGNAL_PUSH_API_KEY
  COOKIE_DOMAIN
  DATABASE_POOL_SIZE
  DATABASE_URL
  EMBEDLY_API_KEY
  GITHUB_CLIENT_ID
  GITHUB_CLIENT_SECRET
  GITHUB_VERIFICATION_TOKEN
  HOST
  HEROKU_SLUG_COMMIT
  REDIRECT_ON_AUTH_URL
  REDIRECT_ON_LOGIN_URL
  REDIRECT_URI
  REDIS_URL
  SECRET_KEY_BASE
  SENTRY_DSN
  SLACK_CLIENT_ID
  SLACK_CLIENT_SECRET
  SLACK_TOKEN_ENCRYPTION_KEY
  SLACK_VERIFICATION_TOKEN
  TEMPLATE_USER_ID
  WEB_URL
)
